/* Credit to https://courses.joshwcomeau.com/css-for-js/treasure-trove/010-global-styles */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* custom */

.d-flex {
  display: flex;
}

.flex-columns {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex-grow: 1;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 8px 32px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
}

@media (min-width: 600px) {
  /**/
}

.h-100 {
  height: 100%;
}

.big {
  font-size: 4rem;
}

body {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  position: absolute;
  top: -20px;
}

input[type="search"] {
  padding-inline: 8px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #d1d5db;
  border-right: none;
}

.form-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  margin-inline: 42px;
}

.header {
  padding-block: 64px;
  gap: 16px;
}

.header-img {
  background: url("./images/header.png");
  background-size: cover;
}

#movie-list {
  margin-top: 56px;
  list-style: none;
  padding-left: 0;
}

#movie-list > li {
  display: flex;
  gap: 24px;
  flex-basis: 100%;
}

#movie-list > li > img {
  width: 100px;
  height: 150px;
}

#movie-list h2 {
  font-size: 1.1rem;
}

.watchlist-container {
  display: flex;
  gap: 16px;
}

.btn-watchlist {
  border: none;
  background-color: white;
  cursor: pointer;
}
